
.enemy-frame {
  width: 15rem; // extra width for animation room
  display: flex;
  justify-content: center;

  .enemy {
    position: relative;

    background: red;
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      font-weight: bold;
    }

    // attack animation
    transition: margin-right 0.25s;
    &.attack-animation {
      margin-right: 2rem;
    }

    &.is-dead {
      background: #690000;
    }
  }

}