
.energy-orb {
  position: absolute;
  bottom: 4rem;
  left: 4rem;

  height: 8rem;
  width: 8rem;
  background: green;
  display: flex;
  flex-direction: column;
  border-radius: 8rem;
  justify-content: center;
  align-items: center;

  .label {
    font-size: 0.75rem;
  }
  .amount {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}