
.player-side {
  flex: 1 1 0;
  height: 80%;

  //background: blue;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .player {
    position: relative;

    height: 10rem;
    width: 10rem;
    background: #1414ff;
    border-radius: 5px;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      font-weight: bold;
    }

    &.is-dead {
      background: #09098d;
    }
  }
}