
.player-side {
  flex: 1 1 0;
  height: 100%;

  //background: blue;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .player {
    height: 10rem;
    width: 10rem;
    background: blue;
  }
}