
.card {

  border: 2px solid transparent;
  &.can-use {
    border: 2px solid #75ff75;
    cursor: move;
  }
  &.insufficient {
    .energy {
      color: #ff1e1e;
    }
  }

  &.equipment {
    background: #535bf2;
    &.insufficient {
      background: #33388d;
    }
  }
  &.ability {
    background: #6f30bd;
    &.insufficient {
      background: #521e91;
    }
  }


  height: 10rem;
  width: 8rem;
  border-radius: 5px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;

  &:hover {
    height: 11rem;
    width: 8.8rem;
    margin-top: -1rem;
    font-size: 1rem;
    //border: 1px solid white;
  }

  .name {
    font-weight: bold;
    //padding: 0.5rem 0;
    padding-top: 0.5rem;
    flex-shrink: 0;
    text-align: center;
  }

  .type {
    font-style: italic;
    padding-bottom: 0.5rem;
    flex-shrink: 0;
  }

  .description {
    flex: 1 1 auto;
    text-align: center;
  }

  .charges {
    flex-shrink: 0;
  }


  .energy {
    position: absolute;
    top: -1rem;
    left: -1rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 2rem;
    background: #4148cb;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    //font-weight: bold;
    font-size: 1.15rem;
    border: 1px solid #777;
  }

}