
.equipped-item {
  background: #535bf2;

  box-sizing: border-box;
  border: 2px solid transparent;
  &.can-use {
    border: 2px solid #75ff75;
  }
  &.cannot-use {
    background: #33388d;
  }

  height: 100%;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;

  .name {
    font-weight: bold;
    padding: 0.5rem 0;
    flex-shrink: 0;
  }

  .description {
    flex: 1 1 auto;
  }

  .charges {
    flex-shrink: 0;
  }

}