
.hand {
  position: absolute;
  bottom: 0;
  height: 12rem;
  width: 100%;

  display: flex;
  gap: 1rem;
  justify-content: center;
}

.deck {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.graveyard {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}